.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
}
input {
  padding: 0.7rem;
  width: 90%;
  text-align: end;
  border-radius: 5px;
  border: none;
  background-color: hsl(189, 41%, 97%);
  /* background-color: hsl(183, 100%, 15%); */
  color: hsl(184, 14%, 56%);
  font-size: 24px;
  font-family: "Space Mono", monospace !important;
}

input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%) !important;
}
.btn {
  background-color: hsl(183, 100%, 15%) !important ;
  color: white !important;
  font-size: 1.4rem !important;
  cursor: pointer;
}
.btn:hover {
  background-color: hsl(172, 67%, 70%) !important;
  color: black !important;
}
.custom {
  background-color: hsl(189, 41%, 97%) !important;
  color: hsl(186, 14%, 43%) !important;
  font-size: 1.4rem !important;
  cursor: pointer;
}

.icon {
  left: 1rem;
  top: 0.9rem;
  position: absolute;
}
